.App {
  text-align: left;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Movie{float:left;width:25%;padding:0 2%;border:1px solid #ddd;box-sizing:border-box;padding:10px}
.Movie__Columns h1{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.Movie__Synopsis{height:210px;overflow-y:auto}
.Movie img{height:200px}